@model AdminPortal.Models.Application

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form >
    <div class="form-group">
        <label for="exampleInputEmail1">Application</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Application">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">TenantName</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="TenantName">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">AppGroupName</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="AppGroupName">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">AppType</label><br/>
        @*<input type="email" class="form-control" id="exampleInputEmail1" placeholder="AppType">*@
        <div class="btn-group ">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">AppType1</a></li>
                <li><a href="#">AppType1</a></li>
                <li><a href="#">AppType1</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">AppNew</a></li>
            </ul>
        </div>
    </div>
    
    <div class="form-group modal-footer">
        <button type="submit" class="btn btn-default">Save</button>
        <button type="submit" class="btn btn-default">Cancle</button>
    </div>
    
</form>
@*<div class="panel col-lg-10">
    <div class="panel-heading alert-info">
        <h4>Add Application</h4>
    </div>
    <div class="panel-body">
        <div class="col-md-10">
            <abbr  title ="this is the application attribute", class= "col-lg-3">Application</abbr>
            <input class ="col-lg-6",style="user-select:element" />
        </div><div class="col-md-10">
            <label class= "col-lg-3">Email</label>
            <input class ="col-lg-6",style="user-select:element" />
        </div><div class="col-md-10">
            <label class= "col-lg-3">TenantName</label>
            <input class ="col-lg-6",style="user-select:element" />
        </div><div class="col-md-10">
            <label class= "col-lg-3">AppGroupName</label>
            <input class ="col-lg-6",style="user-select:element" />
        </div><div class="col-md-10">
            <label class ="col-lg-3",>AppType</label>
            <input class ="col-lg-6",style="user-select:element" />
        </div>
    </div>
    <div class="panel-footer">
        <div class="col-lg-4">
            <input class="col-lg-1 col-lg-3 btn btn-default",type="submit" value="Save"/>
            <input class="col-lg-3 col-lg-4 btn btn-default",type="submit" value="cancle"/>
        </div>
    </div>
</div>*@
